*{
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body{ 
  font-family: 'Mooli', sans-serif;
  font-size: 20px;
  background-image: url("https://img.freepik.com/free-psd/aerial-view-wooden-table-photography-hobby-concept_53876-12011.jpg?w=826&t=st=1699385858~exp=1699386458~hmac=68e0710cfd18677fa41602ed41cb9c75a257d944385130c03208c89e592462ef");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
}

.img-container{
  background-color: rgba(0, 0, 0, 30%);
  padding: 30px 0 50px 0; 
  width: 100%;
  height: 100%;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  min-height: 580px;
  max-width: 580px;
  margin: 0 auto;
  border: 4px solid rgb(122, 68, 31);
  border-radius: 20px 20px 20px 20px;
  background-color:rgb(122, 68, 31);
  gap: 10px;
  box-shadow: 17px -7px rgba(23, 24, 26, 0.363);
  padding-bottom: 20px;
}

.task-entry{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 40px;
  height: 100%;
  width: 90%;
  padding: 6px 8px ;
  border-radius: 5px;
}

.task-buttons{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.task-entry > input{
  padding: 3px;
  background-color:#9b7777d3;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: rgb(224, 213, 178);
}

.task-entry > input::placeholder{
  color:rgb(225, 228, 199);
}

.add-task{
  font-size: 30px;
  padding: 0px 6px;
  border-radius: 50%;
  background-color: rgb(205 205 205);
}

.clear{
  font-size: 15px;
  padding: 8px;
  border-radius: 12px;
  background-color: rgb(172, 138, 138);
}

select{
  width: 100%;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(170, 247, 221);
}

/* select > option{

} */

.list-of-tasks{
  background-color: #e1d65e;
  width: 90%;
  height: 600px;
  overflow-y: auto;
  padding: 30px 10px 30px 5px;
  border-radius: 5px;
  border: 2.2px solid slategrey;
}

.list-of-tasks li,.delete, .edit{
  display: inline-block;
} 

.list-of-tasks li{
  list-style: none;
  width: 100%;
  font-size: 18px;
  padding: 20px 2px 5px 0;
  border-bottom: 1px dashed rgb(144, 134, 112);
}

.delete, .edit{
  height: 20px;
  width: 30px;
  font-size: 15px;
  float: inline-end;
  background-color: rgba(128, 128, 128, 0.459);
}

.delete{
  color: rgb(131, 3, 3);
  margin-left:5px ;
  border-radius: 5px;
}

li, .delete{
  font-size: 12px;
}

.edit{
  font-size: 10.5px;
  color: rgb(29, 101, 104);
  font-weight: bolder;
  border-radius: 5px;
}

/* :hover properties */

li, button, input{
  cursor: pointer;
} 

input:hover{
  outline: 5px solid #e7cccc ;
  background-color:#e7cccc56 ;
}

.delete:hover{
  background-color: rgba(255, 0, 0, 0.534);
  color: white;
}

.edit:hover{
  background-color: rgba(106, 218, 180, 0.801);
}


/* JavaScript Event  */
.green {
  background-color: rgba(18, 148, 18, 0.452);
  border-radius: 5px;
  padding: 0 !important;}